<div class="card">
  <ul class="nav nav-tabs" role="tablist">
    <li class="tab-head active" role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li class="tab-head" role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li class="tab-head" role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li class="tab-head" role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h5 class="box-title">Search Booking</h5>
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" id="search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <table class="table table-hover" id="table">
              <tbody>
                <tr>
                  <th>User_id</th>
                  <th>place</th>
                  <th>Status</th>
                  <th>Date booking</th>
                  <th>Date receipt</th>
                  <th>Action</th>
                </tr>
                <% @bookings.each do |booking| %>

                <tr>
                  <td><%= booking.user_id %></td>
                  <td><%= booking.place %></td>
                  <td><%= booking.status %></td>
                  <td><%= booking.date_booked %></td>
                  <td><%= booking.date_receipt %></td>
                  <td><%= booking.action %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile"></div>
    <div role="tabpanel" class="tab-pane" id="messages"></div>
    <div role="tabpanel" class="tab-pane" id="settings"></div>
  </div>
</div>
</div>

<div class="box-body table-responsive no-padding">
  <script type="text/javascript">
   $("#search").keyup(function(){
    _this = this;
        // Show only matching TR, hide rest of them
        $.each($("#table tbody tr"), function() {
          if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
           $(this).hide();
         else
           $(this).show();                
       });
      }); 
    </script>