<div class="card">
  <ul class="nav nav-tabs" role="tablist">
    <li class="tab-head active" role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="underline-button">Show</a></li>
    <li class="tab-head" role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="underline-button">Create</a></li>
    <li class="tab-head" role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="underline-button">Edit</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <div class="st-headings">
          Name
        </div>
        <div class="st-rows">
          <ul class="my-toggle">
            <% @locations.each do |location| %>
            <li>
              <a class="view">
                <div class="row">
                  <div class="col-sm-12">
                    <h5 class="toggle-title"><%= location.name %> <div class="status-store"><%= location.status %></div> </h5>
                  </div>
                </div>
              </a>
              <div class="detail">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="toggle-wrapper">
                     <ul class="nav nav-list">
                       <li>Adrress: <%= location.address %></li>
                       <li>Phone: <%= location.phone %></li>
                       <li>Status: <%= location.status %></li>
                       <% @openinghours.each do |openinghour| %>
                       <li><%= openinghour.day %>: <%if openinghour.status == true %> Open <% else %> Close <% end %> | <%= openinghour.open.strftime("%I:%M %P") %> | <%= openinghour.close.strftime("%I:%M %P")  %>  </li>
                       <% end %>

                     </ul>
                   </div>
                 </div>
               </div>
             </div>
           </li>
           <% end %>
         </ul>
       </div>
     </div>
   <div role="tabpanel" class="tab-pane" id="profile"></div>
   <div role="tabpanel" class="tab-pane" id="messages"></div>
 </div>
</div>
</div>


<div class="box-body table-responsive no-padding">
  <script type="text/javascript">
    $(function() {
      $(".view").on( "click", function() {
        $(this).next().slideToggle(250);
        $fexpand = $(this).find(">:first-child");
        if ($(this).hasClass('opened')) {
          $(this).removeClass('opened');
        } else {
          $(this).addClass('opened');
        };
      });
    });
  </script>