<div class="container">
  <div class="content-heading" style="min-height: 700px; margin-top: 80px;">
    <div class="acc-detail">
      <h3><%= t(".title", resource: resource_name.to_s.humanize) %></h3>
      <div class="account-head">  
        <ul>
          <li class="active"><%= link_to edit_user_registration_url do %>My Account<% end %></li>
          <li><%= link_to bookings_url do %> My Booking<% end %></li>
          <li><%= link_to bookings_url do %> My Order<% end %></li>
          <li><a href="#">My Wishlist Chefs</a></li>
          <li><a href="#">Rate The Chef</a></li>
          <li><a href="#">FoodCloud Credit</a></li>
          <li><%= link_to destroy_user_session_path do %>Logout<% end %></li>
        </ul>
      </div>
      <div class="account-content">
        <div class="row">
          <div class="col-md-4">
            <ul>
              <li class="tab-title active"><a href="">Edit your account information</a></li>
              <li class="tab-title "><a href="">Change Password</a></li>
              <li class="tab-title "><a href="">Modify your address book entries</a></li>
            </ul>
          </div>
          <div id="customer-details" class="col-md-8">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <div class="row">
              <div class="col-md-6">
                <div class="field-box">
                  <p>
                    <label><span class="required">*</span>First Name:</label>
                    <%= f.input :first_name,class: "field", required: true, autofocus: true %>
                  </p>
                  <p>
                    <label><span class="required">*</span>Last Name:</label>
                    <%= f.input :last_name,class: "field", required: true, autofocus: true %>
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="field-box">
                  <p>
                    <label><span class="required">*</span> Mobile Number:</label>
                    <%= f.input :name,class: "field", required: true, autofocus: true %>
                  </p>
                  <p>
                    <label><span class="required">*</span> E-Mail:</label>
                    <%= f.input :email,input_html: {class: "field",disabled: "disabled"}, required: true, autofocus: true %>
                  </p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="field-box">
                  <p>
                    <label><span class="required">*</span> Password:</label>
                    <%= f.input :current_password,class: "field",required: true %>
                  </p>
                  <p>
                    <%= f.button :submit, t(".update") %>
                  </p>
                </div>
              </div>
            </div>

            <div class="form-actions">

            </div>
            <% end %>

            <h3><%= t(".cancel_my_account") %></h3>

            <p><%= t(".unhappy") %> <%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete %></p>

            <%= link_to t("devise.shared.links.back"), :back %>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>