<div class="container">
  <div class="content-heading" style="min-height: 700px; margin-top: 80px;">
    <div class="acc-detail">
      <h3><%= t(".title", resource: resource_name.to_s.humanize) %></h3>
      <div class="account-head">  
        <ul>
          <li class="active"><%= link_to edit_user_registration_url do %>My Account<% end %></li>
          <li><%= link_to users_bookings_url do %> My Booking<% end %></li>
          <li><%= link_to users_orders_url do %> My Order<% end %></li>
          <li><%= link_to users_messages_url do %>My Messages with Chefs<% end %></li>
          <li><%= link_to users_rate_chefs_url do %>Rate The Chef<% end %></li>
          <li><%= link_to destroy_user_session_path do %>Logout<% end %></li>
        </ul>
      </div>
      <div class="account-content">
        <div class="row">
          <div class="col-md-4">
            <ul>
              <li class="tab-title active"><%= link_to edit_user_registration_url do %>Edit your account information<% end %></li>
              <li class="tab-title "><%= link_to users_password_url do %>Change Password<% end %></li>
              <li class="tab-title "><a href="#address" aria-controls="address" role="tab" data-toggle="tab">Change your address</a></li>
              <li class="tab-title account-delete"><%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete %></li>
            </ul>
          </div>
          <div id="customer-details" class="col-md-8">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <div class="row">
              <div class="col-md-6">
                <div class="field-box">
                  <p>
                    <%= f.input :first_name,class: "field", required: true, autofocus: true %>
                  </p>
                  <p>
                    <%= f.input :last_name,class: "field", required: true, autofocus: true %>
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="field-box">
                  <p>
                    <%= f.input :name,class: "field", required: true, autofocus: true %>
                  </p>
                  <p>
                    <%= f.input :email,input_html: {class: "field",disabled: "disabled"}, required: true, autofocus: true %>
                  </p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="field-box">
                  <p>
                    <%= f.input :phone,class: "field",required: true %>
                  </p>
                  <p>
                    <%= f.input :current_password,class: "field",required: true %>                    
                  </p>
                  <p>
                    <%= f.button :submit, t(".update") %>
                  </p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="field-box">
                  <p>
                    <label class="sex required" for="user_sex"><abbr title="required">*</abbr> Gender</label>
                    <%= f.select(:sex,User::SEX, {prompt: 'Select a gender'},html_options = {class: 'field'}) %>
                  </p>
                  <p>
                    <%= f.input :birthday,class: "field",required: true %>
                  </p>

                </div>
              </div>
              <div class="col-md-6">
                <div class="field-box">
                  <p>
                    
                  </p>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


