<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @book_table_detail.user_id %>
</p>

<p>
  <strong>Book table:</strong>
  <%= @book_table_detail.book_table_id %>
</p>

<p>
  <strong>Dish:</strong>
  <%= @book_table_detail.dish_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book_table_detail.price %>
</p>

<%= link_to 'Edit', edit_book_table_detail_path(@book_table_detail) %> |
<%= link_to 'Back', book_table_details_path %>
