<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order_detail.user_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_detail.order_id %>
</p>

<p>
  <strong>Dish:</strong>
  <%= @order_detail.dish_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order_detail.price %>
</p>

<%= link_to 'Edit', edit_order_detail_path(@order_detail) %> |
<%= link_to 'Back', order_details_path %>
