<div class="content-heading">
  <div class="cover-time flex-center">
    <div class="date-time">
      <a class="time-css">
        <small>Day</small>
      </a>
      <a class="time-css button button-sm">
        <small>Week</small>
      </a>
      <a class="time-css">
        <small>Month</small>
      </a>
      <a class="time-css">
        <small>Year</small>
      </a>
    </div>
    <div class="button-nex-time">
      <a class="button button-next-day">
        <i class="fa fa-chevron-left"></i>
      </a>
      <a class="button button-next-day">
        <i class="fa fa-chevron-right"></i>
      </a>
    </div>
  </div>
</div>

<div class="content-behind">
  <h3>26 November - 2 December</h3>
  <h4>Overview</h4>
  <div class="row">
    <div class="col-md-6">
      <div class="flex-center">
      <%= image_tag('place.svg', alt: 'money') %>
        
        <div class="sale-results">
          <p class="font-bold">Bookings</p>
          <h2><span><%= @booking.count %></span></h2>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="flex-center">
        <%= image_tag('spoon.svg', alt: 'money') %>
        <div class="sale-results">
          <p class="font-bold">Orders</p>
          <h2><span><%= @order.count %></span></h2>
        </div>
      </div>
    </div>
  </div>

  <h4>Order Completion</h4>
  <div class="row">
    <div class="col-md-4">
      <h3>Cancelled</h3>
      <div class="flex-center">
        <div>
          <p class="font-bold">Orders</p>  
          <p class="font-bold">Sales</p>  
          <p class="font-bold">% of Orders</p>  
        </div>
        <div class="sale-results">
          <p><span>0</span></p>
          <p><span>₫0</span></p>
          <p><span>0%</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>In-Complete</h3>
      <div class="flex-center">
        <div>
          <p class="font-bold">Orders</p>
          <p class="font-bold">Sales</p>
          <p class="font-bold">% of Orders</p>
        </div>
        <div class="sale-results">
          <p><span>0</span></p>
          <p><span>₫0</span></p>
          <p><span>0%</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Complete</h3>
      <div class="flex-center">
        <div>
          <p class="font-bold">Orders</p>
          <p class="font-bold">Sales</p>
          <p class="font-bold">% of Orders</p>
        </div>
        <div class="sale-results">
          <p><span>0</span></p>
          <p><span>₫0</span></p>
          <p><span>0%</span></p>
        </div>
      </div>
    </div>
  </div>

  <h4>Overview</h4>
  <div class="row">
    <div class="col-md-6">
      <div class="flex-center">
        <%= image_tag('money.svg', alt: 'money') %>
        <div class="sale-results">
          <p class="font-bold">Pickups</p>
          <h2><span>0</span></h2>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="flex-center">
        <%= image_tag('transport.svg', alt: 'money') %>
        <div class="sale-results">
          <p class="font-bold">Deliveries</p>
          <h2><span>0</span></h2>
        </div>
      </div>
    </div>
  </div>
  <h4>Due</h4>
  <div class="row">
    <div class="col-md-6">
      <div class="flex-center">
        <%= image_tag('book.svg', alt: 'money') %>
        <div class="sale-results">
          <p class="font-bold">Now</p>
          <h2><span>0</span></h2>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="flex-center">
        <%= image_tag('date.svg', alt: 'money') %>
        <div class="sale-results">
          <p class="font-bold">Later</p>
          <h2><span>0</span></h2>
        </div>
      </div>
    </div>
  </div>
</div>