<div class="card">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <div >
        <div class="row">
          <div class="col-md-12" id="fitter-col">
            <a class="view" id="fitter-view">
              <div class="toggle-title">
                <i class="fa fa-filter"><span>Filters</span></i>
              </div>
            </a>
            <div class="detail">
              <div class="row">
                <div class="col-sm-12">
                  <div class="toggle-wrapper">
                    <ul class="nav nav-list">
                     <form class="form-horizontal">
                      <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="location">Search</label>  
                          <div class="col-md-9">
                            <input id="location" name="location" type="text" placeholder="No,Name,Phone,Email" class="form-control input-md">
                            <!-- <span class="help-block">help</span>   -->
                          </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="radius">Location</label>
                          <div class="col-md-9">
                            <select id="radius" name="radius" class="form-control">
                              <option value="1">Option one</option>
                              <option value="2">Option two</option>
                            </select>
                          </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="property_type">Property type</label>
                          <div class="col-md-9">
                            <select id="property_type" name="property_type" class="form-control">
                              <option value="1">Option one</option>
                              <option value="2">Option two</option>
                            </select>
                          </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="price_min">Price range</label>
                          <div class="col-md-9">
                            <select id="price_min" name="price_min" class="form-control">
                              <option value="1">Option one</option>
                              <option value="2">Option two</option>
                            </select>
                          </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="selectbasic"></label>
                          <div class="col-md-9">
                            <select id="selectbasic" name="selectbasic" class="form-control">
                              <option value="1">Option one</option>
                              <option value="2">Option two</option>
                            </select>
                          </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="submit"></label>
                          <div class="col-md-9">
                            <button id="submit" name="submit" class="btn btn-primary">Search</button>
                          </div>
                        </div>

                      </fieldset>
                    </form>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="protable">
      <table class="">
        <thead class="">
          <tr>
            <th class="">No.</th>
            <th class="">Name</th>
            <th class="">Status</th>
            <th class="">Store</th>
            <th class="">Date</th>
            <th class="">Time</th>
            <th class="">Action</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="st-rows">
      <ul class="my-toggle">
       <% @orders.each do |order| %>
       <li>
        <a class="view">
          <div class="protable">
            <table class="">
              <thead class="">
                <tr>
                  <th class=""><%= order.id %></th>
                  <th class=""><%= order.user_id %></th>
                  <th class=""> <%= order.status %></th>
                  <th class=""><%= order.date_receipt %></th>
                  <th class=""><i class="fa fa-ellipsis-v"></i></th>
                </tr>
              </thead>
            </table>
          </div>
        </a>
        <div class="detail">
          <div class="row">
            <div class="col-sm-12">
              <div class="toggle-wrapper">
               <ul class="nav nav-list">
                <form class="form-horizontal">
                  <fieldset>
                    <div class="form-group">
                      <div class="col-md-3">
                        Address
                      </div>
                      <div class="col-md-9">
                        <%= order.user_id %>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-3">
                        Phone (Optional)
                      </div>
                      <div class="col-md-9">
                        <%= order.date_receipt %>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-3">
                        Enable Automatic Opening
                      </div>
                      <div class="col-md-9">
                        <%= order.user_id %>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-3">
                        Opening Times
                      </div>
                      <div class="col-md-9">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-3">
                        Delivery Provider
                      </div>
                      <div class="col-md-9">
                        <%= order.status %>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-3">
                        Date order
                      </div>
                      <div class="col-md-9">
                      </div>
                    </div>
                  </fieldset>
                </form>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>


<script type="text/javascript">
  $(function() {
    $(".view").on( "click", function() {
      $(this).next().slideToggle(250);
      $fexpand = $(this).find(">:first-child");
      if ($(this).hasClass('opened')) {
        $(this).removeClass('opened');
      } else {
        $(this).addClass('opened');
      };
    });
  });
</script>