<div id="left-navbar" class="sidebar-admin">
  <div class="navbar-header">
    <div><p class="">Admin store </p>
    </div>
  </div>
  <div class="navbar-links">
    <ul>
      <li>
        <%= link_to admin_admin_url,:class => current_class?(admin_admin_path) do %>
        <i class="fa fa-star"></i>
        <span>Dashboard</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_orders_url,:class => current_class?(admin_orders_path) do %>
        <i class="fa fa-cubes"></i>
        <span>Order</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_bookings_url,:class => current_class?(admin_bookings_path) do %>
        <i class="fa fa-calendar"></i>
        <span>Bookings</span>
        <% end %>
      </li>
      <% if current_user.type_chef == 4 %>
      <li>
        <%= link_to admin_users_url,:class => current_class?(admin_users_path) do %>
        <i class="fa fa-users"></i>
        <span>Custommers</span>
        <% end %>
      </li>
      <% end %>

      <li>
        <%= link_to admin_locations_url,:class => current_class?(admin_locations_path)  do %>
        <i class="fa fa-map-marker"></i>
        <span>Locations</span>
        <% end %>
      </li>
      <li>
        <a data-toggle="collapse" data-target="#toggleDemo3" data-parent="#sidenav01" class="collapsed">
          <i class="fa fa-cutlery"></i> Menu <span class="caret pull-right"></span>
        </a>
        <div class="collapse" id="toggleDemo3" style="height: 0px;">
          <ul class="nav nav-list">
            <li><%= link_to admin_categories_url,:class => "" do %>
              <span>Categories</span>
              <% end %>
            </li>
            <li><%= link_to admin_dishes_url,:class => "" do %>
              <span>Dishes</span>
              <% end %>
            </li>
          </ul>
        </div>
      </li> 
      <li>
        <%= link_to admin_admin_url,:class => "" do %>
        <i class="glyphicon glyphicon-usd"></i>
        <span>Biling</span>
        <% end %>
      </li>
    </ul>

    <div class="tab-menu"></div>
    <div class="check-store">
      <a id="yourstore" class="button-store" href="<%= root_url %>" target="_blank">
        <i class="fa fa-shopping-basket"></i>Your Store
      </a>
    </div>
    <div class="support-store">
      <a id="supportstore" class="button-store" href="#" target="_blank">
        <i class="fa fa-life-ring"></i>Support
      </a>
    </div>
  </div>
</div>