<div id="top-navbar">
  <div class="topbar-inner" >
    <div class="navbar-header">
      <h3 class=""><i class="fa fa-home"></i><%= title %></h3>
    </div>
    <div class="collapse navbar-collapse header-nav">
      <ul class="nav navbar-nav navbar-right header-mobile-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-envelope"></span></a>
            <ul class="dropdown-menu">
              <li>Now</li>      
              <li class="divider"></li>
              <li>Yesterday</li>
              <li class="divider"></li>
              <li>Last week</li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"></span></a>
            <ul class="dropdown-menu">
              <li>Now</li>      
              <li class="divider"></li>
              <li>Yesterday</li>
              <li class="divider"></li>
              <li>Last week</li>
            </ul>
          </li>
          <li>
            <ul class="nav navbar-nav nav-narrow">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-language"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to t(".english"), locale:"en" %></li>      
                  <li class="divider"></li>
                  <li><%= link_to t(".vietnamese"), locale: "vi" %></li>
                  <li class="divider"></li>
                  <li><%= link_to t(".japanese"), locale: "ja" %></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a id="admin-ac" href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user pull-right"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to t(".account_settings"), edit_user_registration_url,method: :get  %><span class="glyphicon glyphicon-cog pull-right"></span></li>
              <li class="divider"></li>
              <li><a href="#"><%= t(".user_stats") %><span class="glyphicon glyphicon-stats pull-right"></span></a></li>
              <li class="divider"></li>
              <li><a href="#"><%= t(".messages") %> <span class="badge pull-right"> 42 </span></a></li>
              <li class="divider"></li>
              <li><a href="#"><%= t(".favourites_snippets") %> <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
              <li class="divider"></li>
              <li><%= link_to destroy_user_session_path, method: :delete do %>
                <%= t(".sign_out") %> <span class="glyphicon glyphicon-log-out pull-right"></span>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</div>
