<div class="main-booking">
  <%= link_to 'Home', root_url %> <i class="fa fa-chevron-right"></i> Checkout booking
  <h2>Checkout</h2>
  <%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">The form contains <%= pluralize(@booking.errors.count, "error") %>.</div>
    <ul>
      <% @booking.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <!-- datepicker -->
  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="form-group">
            <h3>Choose Timeslote</h3>
            <div class="col-sm-2 control-label">
              <label for="startdate" class="control-label">Day eat</label>
            </div>
            <div class="col-sm-4">
              <div class="input-group date" id="startdate">
                <input type="text" class="form-control" />
                <span class="input-group-addon">
                  <span class="glyphicon-calendar glyphicon"></span>
                </span>
              </div>
            </div>
            <div class="col-sm-2 control-label">
              <label for="startdate" class="control-label">Time eat</label>
            </div>
            <div class="col-sm-4">
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>10:00</option>
                <option>12:00</option>
                <option>14:00</option>
                <option>16:00</option>
                <option>18:00</option>
                <option>20:00</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <h3>Choose people</h3>
            <div class="col-sm-2 control-label">
              <%= f.label :num_people,class: "control-label" %>
            </div>
            <div class="col-sm-4">
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>1 people</option>
                <option>2 people</option>
                <option>3 people</option>
                <option>4 people</option>
                <option>5 people</option>
                <option>6 people</option>
                <option>7 people</option>
                <option>8 people</option>
                <option>9 people</option>
                <option>10 people</option>
              </select>
            </div>
            <div class="col-sm-2 control-label">
              <%= f.label :num_child,class: "control-label" %>
            </div>
            <div class="col-sm-4">
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>1 people</option>
                <option>2 people</option>
                <option>3 people</option>
                <option>4 people</option>
                <option>5 people</option>
                <option>6 people</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <h3> Choose types pay </h3>
            <div class="col-sm-2 control-label">
              <%= f.label :payment_type,class: "control-label" %>
            </div>
            <div class="col-sm-4">
              <%= f.select(:payment_type,Booking::PAYMENT_TYPES, {prompt: 'Select a payment method'}, { :class => 'form-control' }) %>
            </div>
          </div>
          <div class="form-group">
            <h3>Checkout customer</h3>
            <div class="col-sm-2 control-label">
              <%= f.label :table_number,class: "control-label" %>
            </div>
            <div class="col-sm-4">
              <%= f.number_field :table_number,class: "form-control" %>
              <p>For each 6seat is 1 table </p>
            </div>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :location_id, value: "1" %>
            <div class="col-sm-6">
              <%= f.submit "Create", class: "btn btn-success btn-lg pull-right" %>
            </div>
          </div>
        </div>
        <!-- end row of col-md-8 -->
      </div>
      <!-- end col-md-8 -->
      <div class="col-md-4">
        <div class="row">
        </div>          
      </div>
      <!-- end col-md-4 -->
    </div>
  </div>
  <% end %> 
  <!-- end form-for booking -->
</div>


<script>
  $(document).ready(function () {
    var navListItems = $('div.setup-panel div a'),
    allWells = $('.setup-content'),
    allNextBtn = $('.nextBtn');

    allWells.hide();

    navListItems.click(function (e) {
      e.preventDefault();
      var $target = $($(this).attr('href')),
      $item = $(this);

      if (!$item.hasClass('disabled')) {
        navListItems.removeClass('btn-primary').addClass('btn-default');
        $item.addClass('btn-primary');
        allWells.hide();
        $target.show();
        $target.find('input:eq(0)').focus();
      }
    });

    allNextBtn.click(function(){
      var curStep = $(this).closest(".setup-content"),
      curStepBtn = curStep.attr("id"),
      nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
      curInputs = curStep.find("input[type='text'],input[type='url']"),
      isValid = true;

      $(".form-group").removeClass("has-error");
      for(var i=0; i<curInputs.length; i++){
        if (!curInputs[i].validity.valid){
          isValid = false;
          $(curInputs[i]).closest(".form-group").addClass("has-error");
        }
      }

      if (isValid)
        nextStepWizard.removeAttr('disabled').trigger('click');
    });

    $('div.setup-panel div a.btn-primary').trigger('click');
  });

</script>

<script type="text/javascript">
  $(function () {
    $('#startdate').datetimepicker({
      format: 'DD/MM/YYYY',
      useCurrent: false,
      minDate: moment()
    });
  });
</script>
