<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Guess:</strong>
  <%= @booking.guess_id %>
</p>

<p>
  <strong>Place:</strong>
  <%= @booking.place %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>

<p>
  <strong>Date booked:</strong>
  <%= @booking.date_booked %>
</p>

<p>
  <strong>Date receipt:</strong>
  <%= @booking.date_receipt %>
</p>

<p>
  <strong>Action:</strong>
  <%= @booking.action %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
