<div class="container">
  <div class="content-heading" style="min-height: 700px; margin-top: 80px;">
    <div class="acc-detail">
      <h3>Edit password</h3>
      <div class="account-head">  
        <ul>
          <li class="active"><%= link_to edit_user_registration_url do %>My Account<% end %></li>
          <li><%= link_to users_bookings_url do %> My Booking<% end %></li>
          <li><%= link_to users_orders_url do %> My Order<% end %></li>
          <li><%= link_to users_wishlist_chefs_url do %>My Wishlist Chefs<% end %></li>
          <li><%= link_to users_rate_chefs_url do %>Rate The Chef<% end %></li>
          <li><%= link_to destroy_user_session_path do %>Logout<% end %></li>
        </ul>
      </div>
      <div class="account-content">
        <div class="row">
          <div class="col-md-4">
            <ul>
              <li class="tab-title "><%= link_to edit_user_registration_url do %>Edit your account information<% end %></li>
              <li class="tab-title "><%= link_to users_password_url do %>Change Password<% end %></li>
              <li class="tab-title active"><%= link_to users_password_url do %>Change your address<% end %></li>
              <li class="tab-title "><%= link_to "Delete Account", registration_path(current_user), data: { confirm: t(".are_you_sure") }, method: :delete %></li>
            </ul>
          </div>
          <div id="customer-details" class="col-md-8">
          <%= form_for :user, url: registration_path(current_user),html: { method: :put } do |f|%>
            <div class="row">
              <div class="col-md-6">
                <div class="field-box">
                  <p>
                  <%= f.label :Password %> 
                  <%= f.password_field :password,class: "field", autocomplete: "off", required: false %>

                  </p>
                  <p>
                  <%= f.label :Password_confirmation %>
                  <%= f.password_field :password_confirmation, class: "field",required: false %>
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="field-box">
                  <p>
                    <%= f.label :Current_password %>
                    <%= f.password_field :current_password,class: "field",required: true %>
                  </p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="field-box">
                  <p>
                    <%= f.button :submit,:name => t(".update"),class: "field" %>
                  </p>
                </div>
              </div>
            </div>
            <% end %>
            <h3><%= t(".cancel_my_account") %></h3>

            <%= link_to t("devise.shared.links.back"), :back %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


