<div class="container">
  <div class="content-heading" style="min-height: 700px; margin-top: 80px;">
    <div class="acc-detail">
      <h3>List Orders</h3>
      <div class="account-head">  
        <ul>
          <li><%= link_to edit_user_registration_url do %>My Account<% end %></li>
          <li><%= link_to users_bookings_url do %> My Booking<% end %></li>
          <li class="active"><%= link_to users_orders_url do %> My Order<% end %></li>
          <li><%= link_to users_wishlist_chefs_url do %>My Wishlist Chefs<% end %></li>
          <li><%= link_to users_rate_chefs_url do %>Rate The Chef<% end %></a></li>
          <li><%= link_to destroy_user_session_path do %>Logout<% end %></li>
        </ul>
      </div>
      <div class="account-content">
        <div class="row">
          <div class="col-md-4">
            <ul>
              <li class="tab-title active"><a href="">Edit your account information</a></li>
              <li class="tab-title "><a href="">Change Password</a></li>
              <li class="tab-title "><a href="">Change your address</a></li>
              <li class="tab-title "><a href="">Delete my account </a></li>
            </ul>
          </div>
          <div id="customer-details" class="col-md-8">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>