<div id="chef-signup" class="container above-also">
  <div class="content-heading" style="width: 70%;min-height: 700px;min-height: ">
    <div class="row ">
      <div class="stepwizard col-md-12">
        <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step">
            <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
            <p>Step 1</p>
          </div>
          <div class="stepwizard-step">
            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
            <p>Step 2</p>
          </div>
          <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
            <p>Step 3</p>
          </div>
        </div>
      </div>
    </div>
    <%= form_with url: create_chef_path, local: true, method: :get  do |f| %>
    <div class="setup-content" id="step-1">
      <%= render "home/chef/acc",f: f %>
    </div>
    <div class="row">
      <!-- form store/restaurant -->
      <div class="setup-content" id="step-2">
        <div class="col-md-12 centered">
          <h3> Chef Description</h3>
          <%= render "home/chef/chef_description",f: f %>
          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
        </div>
      </div>

      <div class="setup-content" id="step-3">
        <div class="col-md-12">
          <h3>Chef Description</h3>
          <%= render "home/chef/opening_time",f: f %>
          
          <%= f.button "Submit",class: "btn btn-success btn-lg pull-right" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>   

