<%= render "layouts/store/slider_store" %>

<div id="page-home-index" class="container page-section">
  <div class="row">
  <h2>Our concierge services will take care of you!</h2>
  <div class="col-md-3 category-home">
  <%= image_tag('home/noodles-logo.jpg', alt: 'money') %>
  </div>
  <div class="col-md-3 category-home">
    <%= image_tag('home/dessert-logo.jpg', alt: 'money') %>
  </div>
  <div class="col-md-3 category-home">
    <%= image_tag('home/non-veget.png', alt: 'money') %>
  </div>
  <div class="col-md-3 category-home">
    <%= image_tag('home/tea.png', alt: 'money') %>
  </div>
  <div class="col-md-3 category-home">
    <%= image_tag('home/cake.jpg', alt: 'money') %>
  </div>
  <div class="col-md-3 category-home">
    <%= image_tag('home/only-veget.jpg', alt: 'money') %>
  </div>
  <div class="col-md-3 category-home">
    <%= image_tag('home/helthy.jpg', alt: 'money') %>
  </div>
  <div class="col-md-3 category-home">
    <%= image_tag('home/International_foodfest.png', alt: 'money') %>
  </div>
  </div>
</div>
<%= render "layouts/store/slider_brand_solutions" %>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>