<%= render "layouts/store/slider_store" %>
<div class="container page-section">
  <div class="row">
   <% if @dishs %>
   <% @dishs.each do |dish| %>
   <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag("food/1.jpg", :alt => "rss feed") %>
      <div class="caption">
        <h4 class="pull-right">$24.99</h4>
        <h4><a href="#"><%= dish.name %></a></h4>
        <p><%= dish.subtitle %><a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
      </div>
      <div class="ratings">
        <p class="pull-right">15 reviews</p>
        <p>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
        </p>
      </div>
       <%= button_to 'Add to Cart ',cart_items_path(dish_id: dish, locale: I18n.locale),remote: true %>
    </div>
  </div>
  <% end %>
  <% end %>

</div>
</div>