<%= render "layouts/store/slider_store" %>

<div id="page-home-index" class="container page-section">
  <div class="row">
    <h2>Quick Search</h2>
    <div class="col-md-4">
      <a href="http://localhost:3000/search/utf8=✓&q=&types%5B%5D=barbecue", title="Search restauran is Bebecue", data-toggle="tooltip">
        <%= image_tag('home/c1.jpg', alt: 'money') %>
      </a>
    </div>
    <div class="col-md-4">
      <%= link_to root_path , title: 'Search restauran is Buffet', data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= image_tag('home/c2.jpg', alt: 'money') %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to root_path,title: "Search restauran is Hotpot",data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= image_tag('home/c3.jpg', alt: 'money') %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to root_path ,title: "Search restauran is Cakes",data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= image_tag('home/c4.jpg', alt: 'money') %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to root_path ,title: "Search restauran is Tea & Snacks",data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= image_tag('home/c5.jpg', alt: 'money') %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to root_path ,title: "Search restauran is Rices",data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= image_tag('home/c6.jpg', alt: 'money') %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h2>List Great Chefs  </h2>
    <div class="col-md-3">
      
    </div>
  </div>

</div>
