<div class="location-put">
  <%= form_with url: search_path,local: true, method: :get do |form| %>
  <%= form.text_field :q,class: "search-box-input",placeholder: "Search for chef by name or dish...", data: { behavior: "autocomplete" } %>
  <% end %>
</div>
<div class="show-search">
  <% if @locations %>
  <% @locations.each do |locat| %>
  <div class="left-panel" style="width: 625px; margin-left: 0px;">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-12">
          <div class="icerik-bilgi">
            <%= image_tag(@store_owner.avatar, alt: 'money') %>
            <a href="#"><h2> <%= link_to locat.name, "#" %></h2></a>
            <p> <%= locat.address %> </p>
            <div class="btn-group">
              <a class="btn btn-social btn-facebook" href="#" data-toggle="tooltip" title="Share Facebook"><i class="fa fa-facebook"></i></a>
              <a class="btn btn-social btn-twitter" href="#" data-toggle="tooltip" title="Share Twitter"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-social btn-google" href="#" data-toggle="tooltip" title="Share Google"><i class="fa fa-google"></i></a>
            </div>
            <a href="#">
              <button type="button" class="btn btn-primary">
                <span class="btn btn-google">View More </span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% else %>
  <p>Your search did not match any documents.</p>
  <% end %>
</div>
</div>
