<div class="navbar navbar-default navbar-top animated"
data-wow-delay="0.1s" role="navigation">
<div>
  <div class="navbar-header cherry-gradient">
    <div>
      <div id="logged-user">
      <i class="fa fa-user fa-3x"></i>
        <% if user_signed_in? %>
        Hello Gay  
        
        <% else %>
        <button type="button" class="btn launchConfirm">Login</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div id="logo-store" class="navbar-header" style="margin-left: 40px">
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon icon-bar"></span>
      <span class="icon icon-bar"></span>
      <span class="icon icon-bar"></span>
    </button>
    <%= link_to "LOGO_Store", root_path , id: "brand", class: "navbar-brand animated faded",
    "data-wow-delay": "0.3s", method: :get %>
  </div>
  <div class="collapse navbar-collapse header-nav">
    <ul class="nav navbar-nav navbar-right header-mobile-menu">
      <li><a href=""><i class="fa fa-home"></i></a></li>
      <li><%= link_to "Locations", store_store_url  %></li>
      <li><%= link_to "Informations", store_store_url  %></li>
      <li><%= link_to "Contacts Us", store_store_url  %></li>
      <li>
        <%= render "notifications/language_dropdown" %>
      </li>
      <li>
      </li>
    </ul>
  </div>
</div>
</div>

<div class="modal fade" id="confirm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <div id="form-login-admin" class="box-header">
          <h2><%= t(".sign_in") %></h2>    
        </div>

      </div>
      <div class="modal-body">
        <div class="box center">

          <div class="box-content">
            <%= form_for :user, url: user_session_path do |f|%>
            <div id="form-login-user">
              <div class="form-group float-label-control">
                <%= f.label :Email %>
                <%= f.email_field :email, class: 'form-control', :required => true %>
              </div>
              <div class="form-group float-label-control">
                <%= f.label :Password %>
                <%= f.password_field :password, class: 'form-control', :required => true %>
              </div>
              <div class="form-group">
                <div class="checkbox"> 
                  <%= f.label :remember_me do %> 
                  <%= f.check_box :remember_me %> Remember me 
                  <% end %> 
                </div> 
              </div>
            </div>
            <div class="form-actions">
              <%= f.button :submit,:class =>"formButton",:id => "btn-login-admin",:name => t(".sign_in"),:value => t(".sign_in") %>
            </div>
            <% end %>
            <a href="#">I forgot my password</a><br>
            <a href="#" class="text-center">Register a new membership</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        some random buttons
      </div>
    </div>
  </div>
</div>


<script>  
  $('.launchConfirm').on('click', function (e) {
    $('#confirm').modal({
      show: true
    });
  });
  
</script>