<div id="left-navbar" class="sidebar-admin">
  <div class="navbar-header cherry-gradient">
    <div>
      <% if user_signed_in? %>
      Hello Gay
      <% else %>
      <button type="button" class="btn launchConfirm">Login</button>
      <% end %>
    </div>
  </div>
  <div class="navbar-links">
    <ul>
      <li>
        <%= link_to admin_admin_url,:class => "active" do %>
        <i class="fa fa-star"></i>
        <span>Menu</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_users_url,:class => "" do %>
        <i class="glyphicon glyphicon-user"></i>
        <span>Login</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_locations_url,:class => "" do %>
        <i class="fa fa-map-marker"></i>
        <span>Locations</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_admin_url,:class => "menu-dropdown" do %>
        <i class="fa fa-cutlery"></i>
        <span>Menu</span>
        <i class="dropdown-arrow fa fa-chevron-left"></i>
        <% end %>
        <ul class="dropdown-food">
          <li><%= link_to admin_admin_url,:class => "" do %>
            <span>Menu</span>
            <% end %>
          </li>
          <li><%= link_to admin_admin_url,:class => "" do %>
            <span>Categories</span>
            <% end %>
          </li>
          <li><%= link_to admin_admin_url,:class => "" do %>
            <span>Dishs</span>
            <% end %>
          </li>
          <li><%= link_to admin_admin_url,:class => "" do %>
            <span>Order</span>
            <% end %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to admin_users_url,:class => "" do %>
        <i class="fa fa-vcard"></i>
        <span>Sales</span>
        <% end %>
      </li>  
      <li>
        <%= link_to admin_admin_url,:class => "" do %>
        <i class="glyphicon glyphicon-gift"></i>
        <span>Events</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_admin_url,:class => "" do %>
        <i class="fa fa-gear"></i>
        <span>Bassic Setting</span>
        
        <% end %>
      </li>
      <li>
        <%= link_to admin_admin_url,:class => "" do %>
        <i class="glyphicon glyphicon-usd"></i>
        <span>Biling</span>
        <% end %>
      </li>
    </ul>

    <div class="tab-menu"></div>
    <div class="check-store">
      <a id="yourstore" class="button-store" href="#" target="_blank">
        <i class="fa fa-shopping-basket"></i> Cart
      </a>
    </div>
    <div class="support-store">
      <a id="supportstore" class="button-store" href="#" target="_blank">
        <i class="fa fa-life-ring"></i> Call: 091231312
      </a>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <div id="form-login-admin" class="box-header">
          <h2><%= t(".sign_in") %></h2>    
        </div>

      </div>
      <div class="modal-body">
        <div class="box center">

          <div class="box-content">
            <%= form_for :user, url: user_session_path do |f|%>
            <div id="form-login-user">
              <div class="form-group float-label-control">
                <%= f.label :Email %>
                <%= f.email_field :email, class: 'form-control', :required => true %>
              </div>
              <div class="form-group float-label-control">
                <%= f.label :Password %>
                <%= f.password_field :password, class: 'form-control', :required => true %>
              </div>
              <div class="form-group">
                <div class="checkbox"> 
                  <%= f.label :remember_me do %> 
                  <%= f.check_box :remember_me %> Remember me 
                  <% end %> 
                </div> 
              </div>
            </div>
            <div class="form-actions">
              <%= f.button :submit,:class =>"formButton",:id => "btn-login-admin",:name => t(".sign_in"),:value => t(".sign_in") %>
            </div>
            <% end %>
            <a href="#">I forgot my password</a><br>
            <a href="#" class="text-center">Register a new membership</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        some random buttons
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script>  
  $('.launchConfirm').on('click', function (e) {
    $('#confirm').modal({
      show: true
    });
  });
</script>