<div id="left-navbar" class="sidebar-admin">
 <div class="navbar-links">
  <div class="box-login-store">
    <% if user_signed_in? %>
    <span class="text-center">
      <%= image_tag(current_user.avatar) %>
      
    </span>
    <div class="box-status-user">
      <h3 class="username"><%= current_user.name %></h3>
      <i class="fa fa-circle"><span>online</span></i> 
    </div>
    <% else %>
    <span class="text-center">
      <i class="fa fa-user fa-3x"></i> 
    </span>
    <div class="box-status-user">
      <h3 class="username">Guest</h3>
      <button type="button" class="btn launchConfirm">Login</button>
    </div>
    <% end %>

  </div>
  <ul>
    <li>
      <%= link_to root_url,:class => "collapsed-primary" do %>
      <i class="fa fa-cutlery"></i>Menu filter search
      <% end %>      
    </li>

    <!-- Show list menu fitter -->
    <li>
      <a data-toggle="collapse" data-target="#toggleDemo1" data-parent="#sidenav01" class="collapsed">
        Delivery Area <span class="caret pull-right"></span>
      </a>
      <div class="collapse sub-category" id="toggleDemo1" style="height: 0px;">
        <ul class="nav nav-list">
          <% if @categories %>
          <% @categories.each do |category| %>
          <% if category.sub_category == 1 %>
          <li>
            <div class="checkbox">

              <label for="" class="checkbox1">
                <input id="checkbox1" type="checkbox">
                <%= category.name %>
              </label>
            </div>
          </li>
          <% end %>
          <% end %>
          <% end %>
        </ul>
      </div>
    </li>

    <li>
      <a data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav01" class="collapsed">
        Chef Style <span class="caret pull-right"></span>
      </a>
      <div class="collapse sub-category" id="toggleDemo2" style="height: 0px;">
        <ul class="nav nav-list">
          <% if @categories %>
          <% @categories.each do |category| %>
          <% if category.sub_category == 2 %>
          <li>
            <div class="checkbox">

              <label for="" class="checkbox1">
                <input id="checkbox1" type="checkbox">
                <%= category.name %>
              </label>
            </div>
          </li>
          <% end %>
          <% end %>
          <% end %>
        </ul>
      </div>
    </li>

    <li>
      <a data-toggle="collapse" data-target="#toggleDemo3" data-parent="#sidenav01" class="collapsed">
        Veg/Non-Veg <span class="caret pull-right"></span>
      </a>
      <div class="collapse sub-category" id="toggleDemo3" style="height: 0px;">
        <ul class="nav nav-list">
          <% if @categories %>
          <% @categories.each do |category| %>
          <% if category.sub_category == 3 %>
          <li>
            <div class="checkbox">

              <label for="" class="checkbox1">
                <input type="radio" class="" name="meal_type">
                <%= category.name %>
              </label>
            </div>
          </li>
          <% end %>
          <% end %>
          <% end %>
        </ul>
      </div>
    </li>

    <li>
      <a data-toggle="collapse" data-target="#toggleDemo4" data-parent="#sidenav01" class="collapsed">
        Cuisines <span class="caret pull-right"></span>
      </a>
      <div class="collapse sub-category" id="toggleDemo4" style="height: 0px;">
        <ul class="nav nav-list">
          <% if @categories %>
          <% @categories.each do |category| %>
          <% if category.sub_category == 4 %>
          <li>
            <div class="checkbox">

              <label for="" class="checkbox1">
                <input id="checkbox1" type="checkbox">
                <%= category.name %>
              </label>
            </div>
          </li>
          <% end %>
          <% end %>
          <% end %>
        </ul>
      </div>
    </li>
    <li>
      <a data-toggle="collapse" data-target="#toggleDemo5" data-parent="#sidenav01" class="collapsed-primary">
        <i class="fa fa-map-marker"></i> Location<span class="caret pull-right"></span>
      </a>
      <div class="collapse sub-category" id="toggleDemo5">
        <ul class="nav nav-list">
          <% if @cities %>
          <% @cities.each do |city| %>
          <% if city.id == 1 %>
          <li>
            <div class="checkbox">
              <label for="" class="checkbox1">
                <input type="radio" class="" name="meal_type" checked>
                <%= city.city %>
              </label>
            </div>
          </li>
          <% elsif %> 
          <li>
            <div class="checkbox">
              <label for="" class="checkbox1">
                <input type="radio" class="" name="meal_type">
                <%= city.city %>
              </label>
            </div>
          </li>
          <% end %>
          <% end %>
          <% end %>
        </ul>
      </div>

    </li>
    <li>
      <%= link_to admin_users_url,:class => "collapsed-primary" do %>
      <i class="fa fa-vcard"></i>
      <span>Sales</span>
      <% end %>
    </li>  
    <li>
      <%= link_to admin_admin_url,:class => "collapsed-primary" do %>
      <i class="glyphicon glyphicon-gift"></i>
      <span>Events</span>
      <% end %>
    </li>
    <li>
      <%= link_to about_url,:class => "collapsed-primary" do %>
      <i class="fa fa-info"></i>
      <span>Informations</span>
      <% end %>
    </li>
    <li>
      <%= link_to contact_url,:class => "collapsed-primary" do %>
      <i class="fa fa-flag"></i>
      <span>Contacts Us</span>
      <% end %>
    </li>
  </ul>

  <div class="tab-menu"></div>
  <div class="check-store">
    <a id="yourstore" class="button-store" href="#" target="_blank">
      <i class="fa fa-shopping-basket"></i> Cart
    </a>
  </div>
  <div class="support-store">
    <a id="supportstore" class="button-store" href="#" target="_blank">
      <i class="fa fa-life-ring"></i> Call: 091231312
    </a>
  </div>
</div>
</div>


<!-- // modal-login -->
<div class="modal fade" id="confirm">
  <div class="modal-dialog" style="width: 450px">
    <div class="modal-content" style="padding: 10px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <div id="form-login-admin" class="box-header">
          <h2><%= t(".sign_in") %></h2>    
        </div>

      </div>
      <div class="modal-body">

        <div class="box-content">
          <%= form_for :user, url: user_session_path do |f|%>
          <div id="form-login-user">
            <div class="form-group float-label-control">
              <%= f.label :Email %>
              <%= f.email_field :email, class: 'form-control', :required => true %>
            </div>
            <div class="form-group float-label-control">
              <%= f.label :Password %>
              <%= f.password_field :password, class: 'form-control', :required => true %>
            </div>
            <div class="form-group">
              <div class="checkbox"> 
                <%= f.label :remember_me do %> 
                <%= f.check_box :remember_me %> Remember me 
                <% end %> 
              </div> 
            </div>
          </div>
          <div class="form-actions">
            <%= f.button :submit,:class =>"formButton",:id => "btn-login-admin",:name => t(".sign_in"),:value => t(".sign_in") %>
          </div>
          <% end %>
          <p class="for-get"><span>Forgot Your Password - <%= link_to "Reset Password", user_password_path%></span></p>
          <p class="for-get"><span>Don't Have An Account - <%= link_to "Sign Up",new_user_registration_url %></span></p>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      @NAMBKER
    </div>
  </div>
</div>


<script>  
  $('.launchConfirm').on('click', function (e) {
    $('#confirm').modal({
      show: true
    });
  });

  $(function(){
    $('#selectall').click(function(i, v){
      $('.css-checkbox').prop('checked', this.checked).trigger("change");
    });

    var checkCount = $('.css-checkbox').length;
    $('.css-checkbox').click(function(i, v){
      $('#selectall').prop('checked',$('.css-checkbox:checked').length  == checkCount)
    });

    $('.css-checkbox').change(function(){
      $.post('user_exports/update_user_export_session', { object_id:  $(this).val(), checked: this.checked});
    });
  });

</script>