<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" style=" width:100%; height: 200px !important;">
    <div class="item active">
      <%= image_tag('chef-header-banner.png', alt: 'money') %>
    </div>
    <div class="item">
      <%= image_tag('panel/2.jpg', alt: 'money') %>
    </div>
    <div class="item">
      <%= image_tag('panel/3.jpg', alt: 'money') %>
    </div>
    <div class="item">
      <%= image_tag('panel/4.jpg', alt: 'money') %>
    </div>
    <div class="item">
      <%= image_tag('panel/5.jpg', alt: 'money') %>
    </div>
  </div>
</div>
<%= render "search/form" %>