<div class="container background-fff">
  <div class="our-clients-carousel">
  <h2>We Serving our Clients</h2>
  <div id="our-client-thumb" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
    <div class="owl-wrapper-outer">
      <div class="owl-wrapper" style="width: 3800px; left: 0px; display: block; transition: all 1000ms ease; transform: translate3d(0px, 0px, 0px);">
        <div class="owl-item" style="width: 190px;">
          <div class="item">
            <div class="client-logo">
              <%= image_tag('client1.jpg', alt: '') %>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 190px;">
          <div class="item">
            <div class="client-logo">
              <%= image_tag('client2.jpg', alt: '') %>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 190px;">
          <div class="item">
            <div class="client-logo">
            <%= image_tag('client3.jpg', alt: '') %>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 190px;">
          <div class="item">

            <div class="client-logo">
            <%= image_tag('client4.jpg', alt: '') %>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 190px;">
          <div class="item">

            <div class="client-logo">
            <%= image_tag('client5.jpg', alt: '') %>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 190px;">
          <div class="item">

            <div class="client-logo">
            <%= image_tag('client1.jpg', alt: '') %>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 190px;">
          <div class="item">

            <div class="client-logo">
            <%= image_tag('client2.jpg', alt: '') %>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 190px;">
          <div class="item">

            <div class="client-logo">
            <%= image_tag('client3.jpg', alt: '') %>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 190px;">
          <div class="item">

            <div class="client-logo">
            <%= image_tag('client4.jpg', alt: '') %>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 190px;">
          <div class="item">
            <div class="client-logo">
            <%= image_tag('client5.jpg', alt: '') %>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
</div>