<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guess.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guess.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @guess.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @guess.address %>
</p>

<%= link_to 'Edit', edit_guess_path(@guess) %> |
<%= link_to 'Back', guesses_path %>
