<div class="content-heading">
<% unless cart.cart_items.empty? %>
  <div id="cart">
    <table>
      <%= render(cart.cart_items) %>
      <tr class="total_line">
        <td></td>
        <td colspan="2">Total</td>
        <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
      </tr>

    </table>
    <%= button_to 'CheckOut', new_booking_path, method: :get,class: 'checkout-btn btn btn-default'%>
    <%= button_to 'Clear Cart', cart, :method => :delete,  data: { confirm: 'Are you sure?' },remote: true,class: 'clear-btn btn btn-default'%>
  </div>
  <%  else %>
  <div class="background-fff">
  <div style="text-align:center;  padding-top: 100px; min-height: 400px">
      <div style="font-size:20px; color:#666; margin-bottom:20px;">Your shopping cart is empty!</div>
      <div class="btn-back-home">
        <%= link_to root_url do %>
        Continue Shopping
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
