<p id="notice"><%= notice %></p>

<h1>Booking Details</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Booking</th>
      <th>Dish</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @booking_details.each do |booking_detail| %>
      <tr>
        <td><%= booking_detail.user_id %></td>
        <td><%= booking_detail.booking_id %></td>
        <td><%= booking_detail.dish_id %></td>
        <td><%= booking_detail.price %></td>
        <td><%= link_to 'Show', booking_detail %></td>
        <td><%= link_to 'Edit', edit_booking_detail_path(booking_detail) %></td>
        <td><%= link_to 'Destroy', booking_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking Detail', new_booking_detail_path %>
