
<div class="review_content review_section">
  <%= form_for [location, review] do |f| %>
  <div class="input-section">
    <%= f.text_field :title, placeholder: "Title",
    class: "form-control" %>
  </div>
  <div class="rate-section">
    <h4>Rate</h4>
    <div class="stars">
      <input class="star star-5" id="star-5" value="5" type="radio" onchange="getRating(this)" name="star"/>
      <label class="star star-5" for="star-5"></label>
      <input class="star star-4" id="star-4" value="4" type="radio" onchange="getRating(this)" name="star"/>
      <label class="star star-4" for="star-4"></label>
      <input class="star star-3" id="star-3" value="3" type="radio" onchange="getRating(this)" name="star"/>
      <label class="star star-3" for="star-3"></label>
      <input class="star star-2" id="star-2" value="2" type="radio" onchange="getRating(this)" name="star"/>
      <label class="star star-2" for="star-2"></label>
      <input class="star star-1" id="star-1" value="1" type="radio" onchange="getRating(this)" name="star"/>
      <label class="star star-1" for="star-1"></label>
    </div>
  </div>

  <%= f.text_area :content, id: "froala-editor" %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :location_id, value: @location.id %>
  <%= f.hidden_field :rate_score, value: 0, id: "rate_value" %>
  <%= f.submit "Submit", class: "btn" %>
  <% end %>
</div>