<p id="notice"><%= notice %></p>

<h1>Book Tables</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Guess</th>
      <th>Total price</th>
      <th>Status</th>
      <th>Date order</th>
      <th>Date receipt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_tables.each do |book_table| %>
      <tr>
        <td><%= book_table.user_id %></td>
        <td><%= book_table.guess_id %></td>
        <td><%= book_table.total_price %></td>
        <td><%= book_table.status %></td>
        <td><%= book_table.date_order %></td>
        <td><%= book_table.date_receipt %></td>
        <td><%= link_to 'Show', book_table %></td>
        <td><%= link_to 'Edit', edit_book_table_path(book_table) %></td>
        <td><%= link_to 'Destroy', book_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book Table', new_book_table_path %>
