<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @book_table.user_id %>
</p>

<p>
  <strong>Guess:</strong>
  <%= @book_table.guess_id %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @book_table.total_price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book_table.status %>
</p>

<p>
  <strong>Date order:</strong>
  <%= @book_table.date_order %>
</p>

<p>
  <strong>Date receipt:</strong>
  <%= @book_table.date_receipt %>
</p>

<%= link_to 'Edit', edit_book_table_path(@book_table) %> |
<%= link_to 'Back', book_tables_path %>
