<ul class="nav navbar-nav navbar-right">
  <li><a href="features"><%= t(".features") %></a></li>
  <li><a href="resources"><%= t(".resources") %></a></li>
  <li>
    <%= render "notifications/language_dropdown" %>
  </li>
  <li><%= link_to t(".join_us"), new_user_registration_path, method: :get %></li>
  <li>
    <%= link_to user_session_path, method: :get do %>
      <i class="fa fa-sign-in" aria-hidden="true"></i><%= t(".login") %>
    <% end %>
  </li>
</ul>
