<ul class="nav navbar-nav navbar-right">
  <li><%= link_to t(".features"), features_url  %></li>
  <li><%= link_to t(".faq"), faq_url%></li>
  <li>
  <%= render "notifications/resources_dropdown"  %>
  <li>
    <%= render "notifications/language_dropdown" %>
  </li>
  <li><%= link_to t(".join_us"), new_user_registration_path, method: :get %></li>
  <li>
    <%= link_to user_session_path, method: :get do %>
      <i class="fa fa-sign-in" aria-hidden="true"></i><%= t(".login") %>
    <% end %>
  </li>
</ul>
