<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "admin", :media => "all" %>
  <%= javascript_include_tag 'admin' %>
</head>
<body id="admin-panel">
  <% if user_signed_in? and current_user.admin? %>
    <%= render 'layouts/admin/index' %>
  <% else %>
    <div class="login-box">
      <div class="login-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <%= form_for :user, url: user_session_path do |f|%>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', :required => true %>
        <%= f.label :password %>  
        <%= f.password_field :password, class: 'form-control', :required => true %>
        <div class="form-group"> 
          <div class="checkbox"> 
            <%= f.label :remember_me do %> 
            <%= f.check_box :remember_me %> Remember me 
            <% end %> 
          </div> 
        </div>
        <%= f.button :submit,:class =>"formButton",:name => t(".sign_in"),:value => t(".sign_in") %>
        <% end %>
        <a href="#">I forgot my password</a><br>
        <a href="#" class="text-center">Register a new membership</a>
      </div>
    </div>
    <% end %>
</body>
</html>