<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= favicon_link_tag 'logo.png' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "admin", :media => "all" %>
  <%= javascript_include_tag 'admin' %>
</head>
<body id="admin-panel">
  <% if user_signed_in? && current_user.admin == 1 %>
  <%= render 'layouts/admin/index' %>
  <% else %>
  <%= yield %>
  <% end %>
</body>
</html>