<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= favicon_link_tag 'logo.png' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application',
  'https://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin',
  media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
</head>

<body >
  <!-- Thanh menu ben trai -->
  <div id="store-panel">
    <%= render "layouts/store/left_menu" %>
  </div>
  <div id="main-store">
    <div class="container">  
      <%= render "layouts/store/head_store" %>
      <div class="" id="">
        <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
