<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= favicon_link_tag 'logo.png' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application',
  'https://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin',
  media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
</head>

<body >
  <div id="store-panel">
    <%= render "layouts/store/left_menu" %>
  </div>


  <%= render "layouts/store/head" %>
  <div class="container">
    <div class="main-content">
      <%= render "layouts/store/slider_store" %>
      <%= render "layouts/store/content_store" %>
      <div class="main-content">
        <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <a href="/posts/1" data-method="delete" data-confirm="Are you sure?" style="color:red">Delete</a>
    <%= render "layouts/store/footer" %>
  </div>
</body>
</html>
